{% extends 'base.html.twig' %}

{# templates/protomuncher/upload.html.twig #}

{% block title %}Bitte Protokoll-Datei hochladen!{% endblock %}

{% block body %}

    <div id="messagecontainer" class="container dx-4 justify-content-center text-white mx-auto mt-2 mb-5">
        <h6>Messages:</h6>
        {% block flash %}

        {% endblock%}

        {{ protocol.protocolFile }}
    </div>

    <div id="uploadcontainer" class="d-table dx-4 text-white mx-auto mt-2 mb-5">

        <div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0,0,0,0.5); z-index:1000;">
            <img src="{{ asset('img/spinner.jpg') }}" alt="Upload läuft..." style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
        </div>

        <h2>Protokoll hochladen</h2>

        {{ form_start(form, {'method': 'POST'}) }}
        <div class="form-error list-group-item-danger">
            {{ form_errors(form) }}
            {{ form_errors(form.protocolFile) }}
         </div>

        </div>

        <div class="d-table-row">
            <div class="d-table-cell" >
                {{ form_label(form.protocolFile) }}
            </div>
            <div class="d-table-cell" id="file_upload">
                {{ form_widget(form.protocolFile) }}
            </div>
            <div class="form-control">
                {{ form_help(form.protocolFile) }}
            </div>
        </div>

        <div class="d-table-row">
            <div class="d-table-cell">
                {{ form_label(form.geraet) }}
            </div>
            <div class="d-table-cell" id="file_upload_geraet">
                {{ form_widget(form.geraet) }}
            </div>
        </div>

        <div class="d-table-row">
            <div class="d-table-cell" >
            </div>
            <div class="d-table-cell" >
                {{ form_row(form.save, { 'label': 'Abschicken' }) }}
            </div>
        </div>

        {{ form_end(form) }}

        {# {{ form(form) }} #}

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form[name="{{ form.vars.name }}"]');
            const overlay = document.getElementById('upload-overlay');

            form.addEventListener('submit', function() {
                overlay.style.display = 'block';
            });
        });
    </script>


{% endblock %}
